{% extends 'base.html' %}

{% block content %}
  <h1>{{ page_title }}</h1>

  {% if projects %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Data Início</th>
          <th scope="col">Data Fim</th>
          <th scope="col">Cliente</th>
          <th scope="col">Responsável</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <td>{{ project.title }}</td>
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date }}</td>
            <td>{{ project.client }}</td>
            <td>{{ project.responsible }}</td>
            <td>
              <a 
                href="{% url 'projects:project_details' pk=project.pk %}" 
                class="btn btn-success"
              >
                Detalhes
              </a>
              <a
                href="{% url 'projects:update_project' pk=project.pk %}" 
                class="btn btn-primary"
              >
                Editar
              </a>
              <a 
                href="{% url 'projects:delete_project' pk=project.pk %}" 
                class="btn btn-danger"
              >
                Excluir
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhum projeto cadastrado.</p>
  {% endif %}
  <a href="{% url 'projects:create_project' %}" class="btn btn-primary">Novo Projeto</a>
{% endblock %}